/* client */

.client {
    padding-top: $padding-section;
    padding-bottom: $padding-section;
    background: white;
    .client-list {
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.client__list-item {
    @include mobile {
        width: calc((100% - 60px) / 2);
    }
    @include tablet {
        width: calc((100% - 180px) / 3);
    }
    @include desktop {
        width: calc((100% - 150px) / 6);
    }
}

.client__list-link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $social-link-fill;
    border-radius: 4px;
    fill: $social-link-fill;
    transition: $transition-fill, $transition-border;
    &:hover {
        border-color: $accent-color;
        fill: $accent-color;
    }
    &:focus {
        border-color: $accent-color;
        fill: $accent-color;
    }
}
