/* footer */

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: $primary-bg-color;
}

.footer-wrap {
    text-align: center;
    @include desktop {
        display: flex;
        align-items: baseline;
        text-align: left;
    }
}

.footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    @include desktop {
        align-items: flex-start;
    }
}

.footer-list {
    margin-top: 20px;
}

.footer__list-item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.footer__list-link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: $transition-color;
}

.-link-light {
    color: $light-color;
}

/* for footer link */

.footer__list-link {
    &:hover {
        color: $accent-color;
    }
    &:focus {
        color: $accent-color;
    }
}

.footer__soc-links {
    margin-top: 60px;
    @include desktop {
        margin-left: 70px;
        margin-top: 0;
    }
}

.footer__soc-title {
    font-size: 14px;
    line-height: 1.45;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light-color;
    @include desktop {
        margin-bottom: 20px;
    }
}

.footer__soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    @include desktop {
        justify-content: space-around;
    }
}

.footer__soc-item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.footer__soc-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: $transition-bg;
    &:hover {
        background: $accent-color;
    }
    &:focus {
        background: $accent-color;
    }
}

/* form */

.footer__form-wrap {
    margin-top: 60px;
    @include desktop {
        margin-left: 93px;
        margin-top: 0;
    }
}

.footer__form-title {
    font-size: 14px;
    line-height: 1.45;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light-color;
    margin-bottom: 20px;
}

.form {
    @include desktop {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

.form__email {
    @include desktop {
        display: flex;
    }
}

.form-input {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 16px;
    padding-left: 16px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    @include desktop {
        width: 358px;
        margin-right: 12px;
    }
}

.form-button {
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: $light-color;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: $transition-bg, $transition-color;
    &:hover,
    &:focus {
        background-color: #188ce8;
    }
    @include desktop {
        display: flex;
        align-items: center;
        margin-top: 0;
    }
}

.form__button-icon {
    margin-left: 10px;
    fill: currentColor;
}
